<launch>

   <master auto="start"/>
 
   <node pkg="example_ros_cpp" type="pid_controller_node" respawn="false" name="pid_controller" output="screen">
    <remap from="reference" to="lwheel_vtarget"/>
    <remap from="measurement" to="my_robot/left_wheel_angle"/>
    <remap from="output" to="lmotor_cmd"/>
    
 </node>

</launch> 
