<launch>
	
	

	<!-- odometry-ish-->
	<param name="~base_frame_id" value="base_link"/>
	<param name="~odom_frame_id" value="odom"/>
	<param name="encoder_min" value="-32768"/>
	<param name="encoder_max" value="32768"/>
	<param name="ticks_meter" value="2100" />
	<param name="~base_width" value="0.18" />

	<node pkg="differential_drive" type="diff_tf.py" name="diff_drive" output="screen">
       <!-- <remap from="/odom" to="/wheelodom"/> -->
        </node>


	<!--
	<node pkg="differential_drive" type="pid_velocity.py" name="lpid_velocity">
      <remap from="wheel" to="lwheel"/>
      <remap from="motor_cmd" to="lmotor_cmd"/>
      <remap from="wheel_vtarget" to="lwheel_vtarget"/>
      <remap from="wheel_vel" to="lwheel_vel"/>
      <rosparam param="Kp">500</rosparam>
      <rosparam param="Ki">25</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-600</rosparam>
      <rosparam param="out_max">600</rosparam>
      <rosparam param="rate">100</rosparam>
      <rosparam param="timeout_ticks">20</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>
  <node pkg="differential_drive" type="pid_velocity.py" name="rpid_velocity">
      <remap from="wheel" to="rwheel"/>
      <remap from="motor_cmd" to="rmotor_cmd"/>
      <remap from="wheel_vtarget" to="rwheel_vtarget"/>
      <remap from="wheel_vel" to="rwheel_vel"/>
      <rosparam param="Kp">500</rosparam>
      <rosparam param="Ki">25</rosparam>
      <rosparam param="Kd">0</rosparam>
      <rosparam param="out_min">-600</rosparam>
      <rosparam param="out_max">600</rosparam>
      <rosparam param="rate">100</rosparam>
      <rosparam param="timeout_ticks">20</rosparam>
      <rosparam param="rolling_pts">5</rosparam>
  </node>

  <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors" output="screen">
    <rosparam param="base_width">0.22</rosparam>
  </node>

<node pkg="differential_drive" type="virtual_joystick.py" name="virtual_joystick" output="screen"/>

-->
  







	
</launch>
