<launch>
	<node pkg="depthimage_to_laserscan" name="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="image" to="camera/depth/image_raw"/>
		<remap from="scan" to="depth_scan"/>
		<param name="output_frame_id" value="camera_depth_frame" />
		<param name="range_min" value="0.45" />
  	</node>
</launch>
